
.inputBase{
    width: 100%;
    height: 48px;
    
    padding: 0.75rem 1.5rem;
    
    border-radius: 0.4rem;
    border: 0.1rem solid var(--white-300);

}

/* .inputBase + .inputBase {
    margin-top: 1rem;
    width: 100%;
} */

.inputBase:focus{
    outline: none;

    border: 0.1rem solid var(--orange-100);
}

.inputBase::placeholder {
    color: var(--white-300);
}

.errors {
    width: 100%;
    
    padding: 1rem;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--red-100);
}

.errors:focus{
    outline: none;
    background-color: var(--white-300);
}

.errorMessage {
    color: var(--red-100)
}